

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language and Model Selection</title>
</head>
<body>
    <h1>AI Translator</h1>
    <form id="translationForm" action="/submit" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Upload Files</legend>
            <input type="file" name="files" multiple><br><br>
        </fieldset>
        <fieldset>
            <legend>Select Model</legend>
            {% for model in models %}
                <label><input type="checkbox" name="models" value="{{ model.value }}"> {{ model.label }}</label><br>
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>Select Input Language</legend>
            {% for language in wa_language_metadata %}
                <label><input type="radio" name="input_languages" value="{{ language.value }}"> {{ language.label }}</label><br>
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>Select Target Languages</legend>
            {% for language in target_languages %}
                <label><input type="checkbox" name="target_languages" value="{{ language.value }}"> {{ language.label }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
